@model BitBook.Models.ProfileStatus
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Your Profile";
    var columns = new List<string> { "UpdatedByFullName", "StatusUpdate", "TimeOfUpdate" };
    var grid = new WebGrid(Model.StatusList, defaultSort: "TimeOfUpdate", columnNames: columns, rowsPerPage: 8);
    grid.SortDirection = SortDirection.Descending;
}
<div class="container">
    <h2>Index</h2>
        <img src="@Url.Action("GetImage", "Profile", new {id = Model.Profile.Id})" class="profile-pic img-circle" width="140" height="140" />
        <p>Edit your picture. Click the edit link. @Html.ActionLink("Edit Image", "EditImage", new { id = Model.Profile.Id })</p>
    <hr />


    <h1>What's Going On With You:</h1>
        <p>Your most recent status updates (and name of the author of the comments)</p>
        @grid.GetHtml(displayHeader: false, tableStyle: "webGrid", alternatingRowStyle: "alt")
    <p></p>

        @Html.ActionLink("Add New Status Update", "EditStatus", new { id = Model.Profile.Id })
    <hr />


    <h1>Be social:</h1>
    <p> Connect with others and message them! @Html.ActionLink("Connect with other users", "ShowFriends", new { id = Model.Profile.Id })</p>

</div>